@model CommentVM
@{
    ViewData["Title"] = "Detail Of Event";
}
<!-- Banner Area Start -->
@await Component.InvokeAsync("SectionTitle", new { title = "Events Details", source = "../.." })
<!-- Banner Area End -->
<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img src="~/assets/img/event/@Model.DetailOfEvent.Event.Image" alt="event-details">
                        <div class="event-date">
                            <h3>@Model.DetailOfEvent.Event.Day <span>jun</span></h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.DetailOfEvent.Event.Name</h2>
                        <ul>
                            <li><span>time : </span>@Model.DetailOfEvent.Event.Month</li>
                            <li><span>venue : </span>@Model.DetailOfEvent.Event.Venue</li>
                        </ul>
                        <p>@Html.Raw(Model.DetailOfEvent.Decscription) </p>

                        <div class="speakers-area fix">
                            <h4>speakers</h4>
                            @if (Model.DetailOfEvent.Event.Id == Model.DetailOfEvent.EventId)
                            {
                                @foreach (SpikersOfEvent sp in Model.DetailOfEvent.SpikersOfEvents)
                                {
                                    <div class="single-speaker">
                                        <div class="speaker-img">
                                            <img src="~/assets/img/event/@sp.Image" alt="speaker">
                                        </div>
                                        <div class="speaker-name">
                                            <h5>@sp.FullName</h5>
                                            <p>@sp.Profession </p>
                                        </div>
                                    </div>
                                }
                            }


                        </div>
                    </div>
                    @await Component.InvokeAsync("Comment", new { product = "event" })
                </div>
            </div>
            <div class="col-md-4">
                @await Component.InvokeAsync("LastsBlog", new { path = "event" })
            </div>
        </div>
    </div>
</div>
<!-- Event Details End -->
