@model CommentVM
@{
    ViewData["Title"] = "DetailOfCourse";
}
<!-- Banner Area Start -->
@await Component.InvokeAsync("SectionTitle", new { title = "Courses Details", source = "../.." })
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">
                    <div class="courses-details-img">
                        <img src="~/assets/img/course/@Model.DetailOfCourse.Course.Image" alt="courses-details">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.DetailOfCourse.Course.Name</h2>
                        <p>@Html.Raw(Model.DetailOfCourse.Course.Description)</p>
                        <div class="course-details-left">
                            <div class="single-course-left">
                                <h3>about course</h3>
                                <p>@Html.Raw(Model.DetailOfCourse.AboutCourse)</p>
                            </div>
                            <div class="single-course-left">
                                <h3>how to apply</h3>
                                <p>@Html.Raw(Model.DetailOfCourse.HowToApply)</p>
                            </div>
                            <div class="single-course-left">
                                <h3>certification</h3>
                                <p>@Html.Raw(Model.DetailOfCourse.Certification)</p>

                            </div>
                        </div>
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>@Model.DetailOfCourse.StartDate.ToString("D")</span></li>
                                <li>duration <span>@Model.DetailOfCourse.Duration Month</span></li>
                                <li>class duration <span>@Model.DetailOfCourse.ClassDuration Hours</span></li>
                                <li>skill level <span>all level</span></li>
                                <li>language <span>@Model.DetailOfCourse.Language</span></li>
                                <li>students <span>@Model.DetailOfCourse.Students</span></li>
                                <li>assesments <span>@Model.DetailOfCourse.Assesments</span></li>
                            </ul>
                            <h3 class="red">course fee $@Model.DetailOfCourse.Price</h3>
                        </div>
                    </div>
                    @await Component.InvokeAsync("Comment", new { product = "course" })
                    <div class="row" id="comment-list-course" style="margin-top:20px;">
                        @foreach (Comment com in Model.Comments)
                        {
                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="thumbnail">
                                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                    </div><!-- /thumbnail -->
                                </div><!-- /col-sm-1 -->

                                <div class="col-sm-5">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong>@com.UserName</strong> <span class="text-muted">commented @com.CreateTime.ToString("f")</span>
                                        </div>
                                        <div class="panel-body">
                                            @com.Message
                                        </div><!-- /panel-body -->
                                    </div><!-- /panel panel-default -->
                                </div><!-- /col-sm-5 -->
                            </div><!-- /row -->
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                @await Component.InvokeAsync("LastsBlog", new { path = "course" })
              
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
