@model SearchVM
<ul id="global-list">
    @if (Model.Courses != null)
    {
        <li><h3>Result of Search for Course</h3></li>
        @foreach (Course c in Model.Courses)
        {
            <li>
                <a asp-controller="Course" asp-action="Detail" asp-route-id="@c.Id">
                    <div style="display:flex!important;align-items:center!important;">
                        <img src="~/assets/img/course/@c.Image" style="width:50px!important;height:38px!important;margin-right:10px!important " />
                        <span>
                            @c.Name
                        </span>
                    </div>
                </a>
            </li>
        }
        <li>...........................</li>
    }
    @if (Model.Events != null)
    {
        <li><h3>Result of Search for Events</h3></li>
        @foreach (Event e in Model.Events)
        {
            <li>
                <a asp-controller="Event" asp-action="Detail" asp-route-id="@e.Id">
                    <div style="display:flex!important;align-items:center!important;">
                        <img src="~/assets/img/event/@e.Image" style="width:50px!important;height:38px!important;margin-right:10px!important" />
                        <span>
                            @e.Name
                        </span>
                    </div>
                </a>
            </li>
        }
        <li>...........................</li>
    }
    @if (Model.Teachers != null)
    {
        <li><h3>Result of Search for Teachers</h3></li>
        @foreach (Teacher t in Model.Teachers)
        {
            <li>
                <a asp-controller="Teacher" asp-action="Detail" asp-route-id="@t.Id">
                    <div style="display:flex!important;align-items:center!important;">
                        <img src="~/assets/img/teacher/@t.Image" style="width:50px!important;height:38px!important;margin-right:10px!important" />
                        <span>
                            @t.FullName
                        </span>
                    </div>
                </a>
            </li>
        }
    }
</ul>

